.element__delete-button{
    background-image: url(../../../images/delete.svg);
    width: 18px;
    padding: 0;
    border: none;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: 18px;
    right: 18px;
    visibility: hidden;
}

.element__delete-button:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: opasity 3s;
}